.list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;

  li {
    font-weight: 400;
    font-size: 14px;
    color: #5c5c5c;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

.header_left {
  display: flex;
  gap: 15px;

  h3 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #9d9d9d;
  }
}
