.main {
  max-width: 975px;
  margin: 0 auto;

  h1 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
  }
}

.prev {
  margin: 45px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search {
  position: relative;
  color: #c4c4c4;
  opacity: .6;

  input {
    font-weight: 400;
    font-size: 14px;
    padding: 15px 150px 15px 40px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    outline: 0;
  }

  svg {
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 0;
    left: 10px;
  }
}

.searchResults {
  max-height: 100px; /* Максимальная высота контейнера */
  overflow-y: auto; /* Включение вертикальной прокрутки при необходимости */
  border: 1px solid #ccc;
  border-top: none; /* Убираем верхнюю рамку, чтобы контейнер был как окно */
  visibility: hidden; /* Скрываем контейнер по умолчанию */
  opacity: 0; /* Делаем контейнер невидимым по умолчанию */
  transition: visibility 0s, opacity 0.3s linear; /* Добавляем плавное появление */
}

.searchResultsShow {
  visibility: visible; /* Показываем контейнер при наличии класса .show */
  opacity: 1; /* Делаем контейнер видимым */
}

.ul {
  list-style-type: none;
  padding: 0;
  
    li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  }

  li:hover {
  background-color: #eaeaea;
  }

}
